.img-style-1 {
    width: 100%;
    border-radius: 5px;
    height:327px;
    cursor: pointer;
}
.img-style-2 {
    width: 100%;
    border-radius: 5px;
    height:67px;
    cursor: pointer;
}
.img-swiper-container-2{
    margin-top: 15px;
}
.img-2-wrapper {
    height: auto;
    width: auto;
    border: 1px solid #dee2e6 ;
    border-radius: 5px;
}