.home_scene {
  margin-top: 95px;
  background: url(https://cdn.wallpapersafari.com/4/29/hUWI45.jpg);
  background-size: cover;
}

.home-background {
  background-image: url('../../../../public/imgs/ferrari-background.jpg');
  background-size: cover;
}

.home-container {
  padding: 0 !important;
  overflow-x: hidden;
}

.home-paragraph-center {
  text-align: center;
  padding-inline: 10rem;
  margin-block: 2rem;
  opacity: 0.8;

  @media (max-width: 800px) {
    padding-inline: 0;
  }
}

.home-image {
  max-width: 100%;
  object-fit: cover;
}

.h2-text {
  color: #008c7a;
  text-align: center;
  margin-bottom: 2rem;
  @apply text-3xl md:text-left;
}

.h3-text {
  color: #008c7a;
  margin-bottom: 1.5rem;
  @apply text-2xl text-left;
}

.text-black-import {
  color: black !important;
}

.recommendations-image {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.avatar-image-holder {
  height: 15rem;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.text-center-import {
  text-align: center !important;
}
