.brand {
  &-container {
    padding: 0 !important;
  }

  &-background {
    background-image: url('https://www.mercedes-benz.com.vn/content/vietnam/en/passengercars/_jcr_content/root/responsivegrid/simple_stage_1564354.component.damq6.3284057659213.png/all-new-s-class-teaser.png');
    background-size: cover;
  }
}
