.brand_item {
  &-container {
    padding: 0 !important;
  }

  &-introduction {
    border: 1px solid gray;
    @apply rounded-xl;

    .all-brand-body_type {
      @apply flex flex-wrap;
    }
  }

  &-main {
    .filer-responsive {
      .filer-select {
        @apply custom_responsive_1:w-80;
      }
      @apply custom_responsive_1:flex custom_responsive_2:flex-wrap;
    }
  }

  &-detail {
    width: 100%;
    @apply flex items-center justify-center;

    .render-detail {
      table {
        width: 100% !important;
        @apply my-4;
      }
      tbody {
        vertical-align: middle;
      }
      tr {
        display: table-row;
        vertical-align: inherit;
        border-width: 1px solid !important;
        border-top: 1px solid #dee2e6;
        line-height: 2.5rem;
      }
      tbody:nth-child(odd) tr:nth-child(1) {
        border-top: 0px solid #dee2e6;
        color: red;
      }
      tr:hover {
        background: #dee2e6;
      }
      th {
        padding: 0.75rem;
        text-align: center !important;
      }
      td {
        padding: 0.75rem;
        text-align: inherit;
      }
      p span strong {
        line-height: 5rem;
      }
      figure {
        width: 100%;
        max-width: 100%;
        margin-top: 2rem;
      }
      img {
        width: 100%;
      }
      p {
        text-align: justify !important;
      }
      em {
        line-height: 2rem;
      }
    }
  }
}

.brand-detail-description {
  width: 80%;
  border: 1px solid #dee2e6;

  @media (max-width: 1440px) {
    width: 100%;
  }
  @apply rounded-xl;
}
