// breakpoints
$breakpoints-xs: 0;
$breakpoints-sm: 576px;
$breakpoints-md: 768px;
$breakpoints-lg: 992px;
$breakpoints-xl: 1200px;

//color system
$black: #000000;
$black2: #0a0c13;
$white: #ffffff;
$light-grey: #f2f2f2;
$primary-color: #243b55;
$primary-dark: #141e30;
$second-color: #008c7a;

@function rem($pixels, $content: 16) {
  @return ($pixels / $content) * 1rem;
}
